{% extends 'app/layout.html' %}

{% block title %}
Add Plant
{% endblock %}

{% block body %}


<div class="container text-center ">
    <div class="card border-success shadow m-auto w-75">
        <h1 class="card-header border-success">&#127793; Add Plant &#127793;</h1>
        <div class="card-body">
            <form action="{% url 'addPlant' %}" method="post" id="FormTemplate">
                {% csrf_token %}

                {{plantForm.as_p}}
                <input class="btn btn-primary" type="submit" value="Next  &#11166;">

            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>


</script>

{% endblock %}