{% extends "app/layout.html" %}

{% load static %}

{% block title %}
Register
{% endblock%}

{% block body %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card m-auto shadow pe-md-3">
        <div class="row">
            <div class="container col-md-7">
                <img src="{% static 'app/images/smallPlantPots.webp' %}" alt="nurturing seedling"
                    class="rounded image-fluid w-100 h-100">
            </div>
            <div class="container col-md-5 text-center">
                <h2 class="card-title my-2">Register</h2>

                {% if message %}
                <div>{{ message }}</div>
                {% endif %}

                <div class="card-body">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control mb-2" autofocus type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control mb-2" type="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input class="form-control mb-2" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input class="form-control mb-2" type="password" name="confirmation"
                                placeholder="Confirm Password">
                        </div>
                        <input class="btn btn-primary mb-2 w-100" type="submit" value="Register">
                    </form>

                    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}